@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: "heebo", sans-serif;
    margin: 0;
    padding: 0;
}

.cellphone {
    background-image: url(images/cell.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 7%;
    right: 8%;
    width: 26%;
    height: 65%;
}

.back {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FDBD03;

    &>div {
        background-size: cover;
    }
}

.icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 1px;
    right: 0;
    left: 1px;
    margin: auto;
    transition: 0.5s;
    &:hover {
        scale: 1.2;
    }
}

.top {
    position: absolute;
    top: 40px;
    left: 40px;
}

.whatsapp {
    background-image: url(images/whatsapp.svg);
}

.line1 {
    background-color: #FDBD03;
    position: absolute;
    top: 0;
    right: 0;
    width: 340px;
    height: 15px;
}

.line2 {
    background-color: #FDBD03;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 840px;
    height: 15px;
}

h1 {
    font-size: 45px;
    color: #FDBD03;
    position: absolute;
    right: 45%;
    top: 110px;
}

p{
    color: #020253;
    position: absolute;
    right: 45%;
    top: 195px;
    width: 300px;
    font-size: 15px;
}

label {
    font-weight: bold;
    color: #2C2C2C;
    display: block;
    font-size: 14px;
}

input {
    background-color: #E5EEFF;
    border: 0;
    border-bottom: 4px solid #FDBD03;
}

form {
    position: absolute;
    top: 280px;
    right: 45%;
    width: 110px;
    height: 315px;
}

#name {
    width: 340px;
    height: 35px;
    position: relative;
    top: 0;
    right: 0;
}

#mail {
    width: 340px;
    height: 35px;
    position: relative;
    bottom: 61px;
    right: 360px;
}

#mailLabel {
    position: relative;
    bottom: 61px;
    right: 360px;
}

#words {
    width: 700px;
    height: 100px;
    position: relative;
    bottom: 50px;
}

#wordsLabel {
    position: relative;
    bottom: 50px;
}

button {
    background-color: #FDBD03;
    width: 140px;
    height: 40px;
    border: 0;
    font-weight: bold;
    font-size: 20px;
}

#icons {
    position: absolute;
    left: 30px;
    bottom: 40px;
    width: 300px;
    display: flex !important;
    justify-content: space-between;
}

.bottom {
    position: relative !important;
    top: 15px;
}

.phone {
    background-image: url(images/phone.svg);
}

.linkedin {
    background-image: url(images/linkedin.svg);
    width: 29px;
}

.instagram {
    background-image: url(images/instagram.webp);
}

.facebook {
    background-image: url(images/facebook.svg);
    width: 18px;
}

@media screen and (max-width: 768px) {
    .cellphone {
        position: absolute;
        top: 7%;
        left: 0;
        right: 0;
        margin: auto;
        width: 80px;
        height: 20%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .top {
        display: none;
    }

    .line1 {
        width: 80%;
    }

    .line2 {
        width: 100%;
    }

    h1 {
        font-size: 40px;
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;
        margin: auto;
        width: 187px;
        height: 59px;
    }

    p {
        font-size: 15px;
        position: absolute;
        top: 33%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        font-weight: 500;
    }

    form {
        display: block;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: auto;
        width: 70%;
    }

    label {
        font-size: 10px;
        position: relative;
    }

    input {
        width: 100% !important;
        margin: 5% 0;
    }

    #name, #mail, #words, #wordsLabel, #mailLabel {
        position: static
    }

    button {
        display: block;
        width: 102%;
    }

    #icons {
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media screen and (max-height: 777px) {
    #icons {
        display: none !important;
    }
}

// @media screen and (min-width: 580px) and (max-width: 768px) {
//     #icons {
//         align-items: end;
//         flex-direction: column;
//         margin: 0;
//     }
// }